.App {
  text-align: center;
}

.App-logo {
  /**animation: App-logo-spin infinite 20s linear; */
  float: left;
  height: 175px;
  border: 3px solid white;
}

.App-header {
  padding: 40px;
  background-color: #222;
  height: 175px;
  color: white;
}

.App-title {
  position: relative;
  top:-10px;
  left:40px;
  text-align: left;
  font-size: 2.25em;
}

.info {
  position: relative;
  top: -10px;
  left:40px;
  text-align: left;
  font-size: .8em;
}

.tile {
  background-color: #222;
  color: #222;
  font-size: 1em;
  float: left;
  position: relative;
  top: 20px;
  left: 20px;
  padding: 5px;
  height: 300px;
  width: 300px;
  border: none;
  margin: 20px;
  box-shadow: none;
}

button:focus {
  outline: none;
}

.NavBar {
  border:3px solid #222;
  height: auto;
}

.Nav {
  padding: 10px;
  width: 20%;
  border: 3px solid #222;
  height: 100%;
}

.Nav:focus {
  background-color: #D3D3D3;
}

.icons {
  position: relative;
  top: -10px;
  left: 35px;
  text-align: left;
  font-size: 1.4em;
}

.icons-body{
  position: center;
  font-size: 1.4em;
}

.icon {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.body {
  width: 75%;
  position: relative;
  left: 12.5%;
}

.link {
  color: #222;
  text-decoration: none;
  font-weight: bold;
}

/**@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}**/
